@charset "UTF-8";

section#content {
	height: 80%;
	width: 80%;
	margin: auto;
}

table img {
	width: 150px;
	height: auto;
}

table td {
	padding: 10px;
	text-align: center;
}

table tr:hover {
	background: #eee;
}

table th {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border-bottem: 2px soild #666;
}

table {
	width: 600px;
}