section {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.menu {
	margin: 3% 20% 1% 20%;
	width: 60%;
	border-collapse: collapse;
	table-layout: fixed;
	word-break: break-all;
}

.title {
	padding-top: 30px;
	margin: 40px 0;
	text-align: center;
}

a:hover {
	color: #9b9b9b;
}

a {
	color: black;
	text-decoration: none;
}

input[type=text] {
	width: 100%;
	border: solid 1px lightgray;
	padding: 3px;
}

input:hover {
	cursor: pointer;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

hr {
	width: 66%;
	border: 1px lightgray solid;
}

#review_txt {
	font-size: small;
	margin-top: 5px;
}

.banner {
	width: 60%;
	text-align: center;
	margin: auto;
}

.banner tr, td {
	cursor: pointer;
}

.banner img {
	max-width: 100%;
	cursor: pointer;
}

#itemList {
	width: 80%;
	text-align: center;
	margin: auto;
	list-style: none;
}

#itemList tr, td {
	padding: 7px;
	cursor: pointer;
}

#itemList img {
	max-width: 100%;
	cursor: pointer;
}

.itemBox {
	width: 100%;
	margin: auto;
}

.itemUl {
	margin: auto;
	width: 100%;
	text-align: center;
}

.itemUl li {
	list-style: none;
	display: inline-block;
	margin: 50px;
	width: 180px;
}

#Kong {
	font-size: small;
	float: left;
}

#span-box {
	margin-bottom: 10px;
}

.itemThumb {
	width: 200px;
	height: 230px;
}

#price-box {
	width: 200px;
	text-align: left;
}

div.itemThumb img {
	width: 200px;
	height: 230px;
	border-radius: 15px 15px;
}

div.itemName {
	padding: 15px 0 10px 0;
	text-align: left;
}

div.itemName a {
	color: #000;
	font-size: larger;
}

/* 메인슬라이드 */
.sslide-wrap {
	width: 100%;
	margin-bottom: 55px;
	position: relative;
}

.sslide {
	width: 100%;
	overflow: hidden;
	margin: auto;
}

.sslide img {
	width: 100%;
	border-radius: 10px;
}

.swiper-button-next {
	background-image: url(/images/right_btn.png) !important;
	opacity: 0.4;
	background-size: 20px 30px;
}

.swiper-button-prev {
	background-image: url(/images/left_btn.png) !important;
	opacity: 0.4;
	background-size: 20px 30px;
}

.swiper-pagination-bullet {
	border-radius: 50% !important;
}

.swiper-pagination-bullet-active {
	background: #000 !important;
	opacity: 50% !important;
	border-radius: 50% !important;
}

#best-box {
	width: 100%;
}

.best-left {
	float: left;
	width: 45%;
}

.best-slide {
	max-width: 100%;
}

.slide {
	width: 100%;
	height: 100%
}

.slide p {
	padding: 10px;
}

.slide b {
	color: red;
}

.slide b span {
	font-size: 12px;
	color: #666;
	padding-left: 5px;
}

.slide img {
	width: 100%;
	height: auto;
}

.best-right {
	float: right;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.best-box2 {
	width: 48%;
	padding-bottom: 30px;
}

.best-img {
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.best-box2 p {
	margin: 15px 0 5px;
	font-size: 14px;
}

.best-box2 b {
	color: #ff3232;
	font-size: 16px;
}

.best-box2 b span {
	font-size: 12px;
	color: #666;
	padding-left: 5px;
}

.best-box2 img {
	width: 100%;
}

/* 검색 box */

.search-bar {
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 35em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: lightgray;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}