#container {
	width: 70%;
	position: relative;
	margin: auto;
	color: #767676;
	font-size: 13px;
}

.join {
	padding: 24px 0;
	border-bottom: 1px solid #eaeaea;
	list-style: none;
	overflow: hidden;
}

.Lli {
	float: left;
	vertical-align: middle;
	display: inline-block;
	width: 150px;
	text-align: center;
	font-size: 15px;
	line-height: 35px;
}

.Rli {
	width: 400px;
	display: inline-block;
}

.Rli input {
	width: 45%;
	padding: 5px;
}

#title {
	margin: 45px 0 45px;
	font-size: 24px;
	text-align: center;
}

.star {
	color: red;
}

.registerBtn {
	padding: 5px;
}